<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.shengmei.dao.CommonDao">

    <resultMap id="TypeResultMap" type="com.tangmo.shengmei.entity.GoodsType" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="TypeItemResultMap" type="com.tangmo.shengmei.entity.GoodsTypeItem" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="TINYINT"/>
        <result column="gt_id" property="gtId" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="PvResultMap" type="com.tangmo.shengmei.entity.ParamValue" >
        <id column="pv_id" property="pvId" jdbcType="INTEGER"/>
        <result column="param_type" property="paramType" jdbcType="TINYINT"/>
        <result column="param_value" property="paramValue" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectGoodsType" resultMap="TypeResultMap">
        select id,name,value FROM goods_type
    </select>

    <select id="selectItemByType" resultMap="TypeItemResultMap">
        SELECT id,gt_id,name,value FROM goods_type_item WHERE gt_id = #{type}
    </select>

    <insert id="insertGoodsTypeItem" parameterType="com.tangmo.shengmei.entity.GoodsTypeItem">
        INSERT INTO goods_type_item (name,value,gt_id)
        VALUES (#{name},#{value},#{gtId})
    </insert>

    <update id="updateGoodsTypeItem">
        UPDATE goods_type_item SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteGoodsTypeItem">
        DELETE FROM goods_type_item WHERE id = #{id}
    </delete>

    <select id="selectMaxItemValue" resultType="java.lang.Integer">
        SELECT ifnull(max(value),0) FROM goods_type_item WHERE gt_id = #{gtId}
    </select>

    <insert id="insertAccessCount">
        INSERT INTO access_count (ip) VALUES (#{ip})
    </insert>

    <insert id="insertParamValue" parameterType="com.tangmo.shengmei.entity.ParamValue">
        INSERT INTO param_value (param_type,param_value)
        VALUES (#{paramType},#{paramValue})
    </insert>

    <insert id="insertFeedBack" parameterType="com.tangmo.shengmei.entity.ParamValue">
        INSERT INTO feed_back (user_id,content,mobile,img_id)
        VALUES (#{userId},#{content},#{mobile},#{imgId})
    </insert>

    <update id="updateParamValue" parameterType="com.tangmo.shengmei.entity.ParamValue">
        UPDATE param_value SET param_value = #{paramValue}
        WHERE pv_id = #{pvId,jdbcType=INTEGER}
    </update>

    <select id="selectPvByType" resultMap="PvResultMap">
        SELECT pv_id,param_type,param_value FROM param_value WHERE param_type = #{type}
    </select>

    <delete id="deletePvById">
        DELETE FROM param_value WHERE pv_id = #{pvId}
    </delete>

</mapper>