<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.shengmei.dao.CommodityDao" >
    <resultMap id="BaseResultMap" type="com.tangmo.shengmei.entity.Commodity" >
        <id column="cd_id" property="cdId" jdbcType="INTEGER"/>
        <result column="img_id" property="imgId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="cdColor" property="cdColor" jdbcType="VARCHAR"/>
        <result column="cdSize" property="cdSize" jdbcType="VARCHAR"/>
        <result column="price_pre" property="pricePre" jdbcType="DOUBLE"/>
        <result column="price_now" property="priceNow" jdbcType="DOUBLE"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="cd_count" property="cdCount" jdbcType="INTEGER"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="CommentResultMap" type="com.tangmo.shengmei.entity.ConvComment" >
        <id column="gc_id" property="gcId" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="avatar_id" property="avatarId" jdbcType="VARCHAR"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List" >

    </sql>
    <insert id="insertSelective" parameterType="com.tangmo.shengmei.entity.Commodity">
            insert into commodity
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="imgId != null">
                    img_id,
                </if>
                <if test="userId != null">
                    user_id,
                </if>
                <if test="title != null">
                    title,
                </if>
                <if test="content != null">
                    content,
                </if>
                <if test="pricePre != null">
                    price_pre,
                </if>
                <if test="priceNow != null">
                    price_now,
                </if>
                <if test="cdType != null">
                    cd_type,
                </if>
                <if test="cdCount != null">
                    cd_count,
                </if>
                <if test="cdColor != null">
                    cd_color,
                </if>
                <if test="cdSize != null">
                    cd_size,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="imgId != null">
                    #{imgId,jdbcType=VARCHAR},
                </if>
                <if test="userId != null">
                    #{userId,jdbcType=INTEGER},
                </if>
                <if test="title != null">
                    #{title,jdbcType=VARCHAR},
                </if>
                <if test="content != null">
                    #{content,jdbcType=VARCHAR},
                </if>
                <if test="pricePre != null">
                    #{pricePre,jdbcType=DOUBLE},
                </if>
                <if test="priceNow != null">
                    #{priceNow,jdbcType=DOUBLE},
                </if>
                <if test="cdType != null">
                    #{cdType,jdbcType=TINYINT},
                </if>
                <if test="cdCount != null">
                    #{cdCount,jdbcType=INTEGER},
                </if>
                <if test="cdColor != null">
                    #{cdColor,jdbcType=TINYINT},
                </if>
                <if test="cdSize != null">
                    #{cdSize,jdbcType=INTEGER},
                </if>
            </trim>
    </insert>

    <update id="updateById" parameterType="com.tangmo.shengmei.entity.Commodity">
        UPDATE commodity
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="pricePre != null">
                price_pre = #{pricePre},
            </if>
            <if test="priceNow != null">
                price_now = #{priceNow},
            </if>
            <if test="pricePre != null">
                price_pre = #{pricePre},
            </if>
            <if test="cdType != null">
                cd_type = #{cdType},
            </if>
            <if test="cdCount != null">
                cd_count = #{cdCount},
            </if>
            <if test="cdColor != null">
                cdColor = #{cdColor},
            </if>
            <if test="cdSize != null">
                cdSize = #{cdSize},
            </if>
            updatetime = now()
        </set>
        WHERE cd_id = #{cdId,jdbcType=INTEGER}
    </update>

    <select id="selectListByType" resultMap="BaseResultMap">
        SELECT img_id,title,content,cd_type,cd_count,price_pre,price_now,createtime
          FROM commodity WHERE cd_type = #{cdType} limit #{start},#{end}-#{start}
    </select>

    <select id="selectListByUserId" resultMap="BaseResultMap">
        SELECT img_id,title,content,cd_type,cd_count,price_pre,price_now,createtime
        FROM commodity WHERE user_id = #{userId}
    </select>

    <delete id="deleteById">
        DELETE FROM commodity WHERE cd_id = #{cdId}
    </delete>


    <select id="selectCommentByGoodsId" resultMap="CommentResultMap">
        SELECT cc.user_id,ui.user_name,ui.avatar_id,cc.createtime FROM goods_comment gc
        LEFT JOIN user_info ui ON cc.user_id = ui.user_id
        WHERE gc.goods_id = #{goodsId} AND belong_type = 0
        ORDER BY gc.createtime DESC
        limit #{start},#{end}-#{start}
    </select>

    <insert id="insertComment" parameterType="com.tangmo.shengmei.entity.GoodsComment">
        insert into goods_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="belongType != null">
                belong_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="belongType != null">
                #{belongType,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="selectCommodityDetail" resultMap="BaseResultMap">
        SELECT * FROM commodity WHERE  cd_id = #{cdId}
    </select>

    <select id="selectQualityList" resultMap="BaseResultMap">
        SELECT img_id,title,content,cd_type,cd_count,price_pre,price_now,createtime
        FROM commodity WHERE is_quality = 1 limit #{start},#{end}-#{start}
    </select>
</mapper>