<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.shengmei.dao.ConvInfoDao" >
    <resultMap id="BaseResultMap" type="com.tangmo.shengmei.entity.ConvInfo" >
        <id column="ci_id" property="ciId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="avatar_id" property="avatarId" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="view_count" property="viewCount" jdbcType="INTEGER"/>
        <result column="is_expire" property="isExpire" jdbcType="TINYINT"/>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="valid_date" property="validDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultMapWithComment" type="com.tangmo.shengmei.entity.ConvInfo" >
        <id column="ci_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="avatarId" property="avatarId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="view_count" property="viewCount" jdbcType="INTEGER"/>
        <result column="is_expire" property="isExpire" jdbcType="TINYINT"/>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
        <collection property="commentList" column="ci_id" select="selectCommentByCiId"/>
    </resultMap>

    <resultMap id="CommentResultMap" type="com.tangmo.shengmei.entity.ConvComment" >
        <id column="cc_id" property="ccId" jdbcType="INTEGER"/>
        <result column="ci_id" property="ciId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="avatar_id" property="avatarId" jdbcType="VARCHAR"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>



    <sql id="Base_Column_List" >

    </sql>
    <insert id="insertSelective" parameterType="com.tangmo.shengmei.entity.ConvInfo">
            insert into convenient_info
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">
                    user_id,
                </if>
                <if test="title != null">
                    title,
                </if>
                <if test="subtitle != null">
                    subtitle,
                </if>
                <if test="content != null">
                    content,
                </if>
                <if test="province != null">
                    province,
                </if>
                <if test="city != null">
                    city,
                </if>
                <if test="district != null">
                    district,
                </if>
                <if test="validDate   != null">
                    valid_date,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">
                    #{userId,jdbcType=INTEGER},
                </if>
                <if test="title != null">
                    #{title,jdbcType=VARCHAR},
                </if>
                <if test="subtitle != null">
                    #{subtitle,jdbcType=VARCHAR},
                </if>
                <if test="content != null">
                    #{content,jdbcType=VARCHAR},
                </if>
                <if test="province != null">
                    #{province,jdbcType=VARCHAR},
                </if>
                <if test="city != null">
                    #{city,jdbcType=VARCHAR},
                </if>
                <if test="district != null">
                    #{district,jdbcType=VARCHAR},
                </if>
                <if test="validDate != null">
                    #{validDate,jdbcType=TIMESTAMP},
                </if>
            </trim>
    </insert>

    <update id="updateById" parameterType="com.tangmo.shengmei.entity.ConvInfo">
        UPDATE convenient_info
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="subtitle != null">
                subtitle = #{subtitle},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            updatetime = now()
        </set>
        WHERE ci_id = #{ciId,jdbcType=INTEGER}
    </update>

    <select id="selectConvList" resultMap="BaseResultMap">
        SELECT ci.ci_id,ci.user_id,ci.title,ci.content,ci.view_count,ui.username,
        ui.avatar_id,if(valid_date &gt;now(),1,0) as is_expire,ci.valid_date,
        ci.comment_count,ci.createtime,ci.province,ci.city,ci.district FROM convenient_info ci
        LEFT JOIN user_info ui ON ci.user_id = ui.user_id limit #{start},#{end}
        ORDER BY ci.createtime DESC
    </select>

    <select id="selectPageConv" resultMap="BaseResultMap">
        SELECT ci.ci_id,ci.user_id,ci.title,ci.content,ci.view_count,ui.username,
        ui.avatar_id,if(valid_date &gt;now(),1,0) as is_expire,ci.valid_date,
        ci.comment_count,ci.createtime,ci.province,ci.city,ci.district FROM convenient_info ci
        LEFT JOIN user_info ui ON ci.user_id = ui.user_id WHERE ci.is_expire = #{state}
        ORDER BY ci.createtime DESC
    </select>

    <update id="updateViewCount">
        UPDATE convenient_info SET view_count = view_count + 1
        WHERE ci_id = #{ciId}
    </update>

    <update id="updateCommentCount">
        UPDATE convenient_info SET comment_count = comment_count + 1
        WHERE ci_id = #{ciId}
    </update>

    <insert id="insertConvComment" parameterType="com.tangmo.shengmei.entity.ConvComment">
        insert into conv_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="ciId != null">
                ci_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="ciId != null">
                #{ciId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="selectCommentByCiId" resultMap="CommentResultMap">
        SELECT cc.cc_id,cc.user_id,cc.comment,ui.username,ui.avatar_id,cc.createtime FROM conv_comment cc
        LEFT JOIN user_info ui ON cc.user_id = ui.user_id
        WHERE cc.ci_id = #{ciId}
        ORDER BY cc.createtime DESC
        limit #{start},#{end}
    </select>

    <select id="selectByCiId" resultMap="BaseResultMap">
        SELECT ci.ci_id,ci.user_id,ci.title,ci.content,ci.view_count,
        ui.username,ui.avatar_id,if(valid_date &gt;now(),1,0) as is_expire,
        ci.comment_count,ci.createtime,ci.province,ci.city,ci.district FROM convenient_info ci
        LEFT JOIN user_info ui ON ci.user_id = ui.user_id WHERE ci.ci_id = #{ciId}
        ORDER BY ci.createtime DESC
    </select>

    <delete id="deleteById">
        DELETE FROM convenient_info WHERE ci_id = #{ciId}
    </delete>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT ci.ci_id,ci.user_id,ci.title,ci.content,ci.view_count,ci.comment_count,
        ci.createtime,if(valid_date &gt;now(),1,0) as is_expire,ci.province,ci.city,ci.district,ui.username,ui.avatar_id
        FROM convenient_info ci LEFT JOIN user_info ui ON ci.user_id = ui.user_id
         WHERE ci.user_id = #{userId}
        ORDER BY ci.createtime DESC
        limit #{start},#{end}
    </select>

    <select id="selectByIsExpire" resultMap="BaseResultMap">
        SELECT ci.ci_id,ci.user_id,ci.title,ci.content,ci.view_count,ci.comment_count,
        ci.createtime,if(valid_date &gt;now(),1,0) as is_expire,ci.province,ci.city,ci.district,ui.username,ui.avatar_id
        FROM convenient_info ci LEFT JOIN user_info ui ON ci.user_id = ui.user_id
        WHERE is_expire = #{type}
        ORDER BY ci.createtime DESC
        limit #{start},#{end}
    </select>
</mapper>