<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.shengmei.dao.IllegalDao">

    <resultMap id="BaseResultMap" type="com.tangmo.shengmei.entity.IllegalInfo" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="car_id" property="carId" jdbcType="INTEGER"/>
        <result column="car_num" property="carNum" jdbcType="VARCHAR"/>
        <result column="car_province" property="carProvince" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="total_price" property="totalPrice" jdbcType="INTEGER"/>
        <result column="total_score" property="totalScore" jdbcType="INTEGER"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ValidResultMap" type="com.tangmo.shengmei.entity.IllegalInfo" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="car_id" property="carId" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.tangmo.shengmei.entity.IllegalInfo">
        insert into illegal_info (user_id,car_id,total_price,total_score)
         VALUES (#{userId},#{carId},#{totalPrice},#{totalScore})
    </insert>

    <select id="selectByCarId" resultMap="ValidResultMap">
        SELECT id,user_id,car_id FROM illegal_info WHERE car_id = #{carId}
    </select>

    <update id="updateSelective" parameterType="com.tangmo.shengmei.entity.IllegalInfo">
        UPDATE illegal_info
        <set>
            <if test="totalPrice != null">
                total_price = #{totalPrice},
            </if>
            <if test="totalScore != null">
                total_score = #{totalScore},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectListInfo" resultMap="BaseResultMap">
        SELECT ii.id,ii.user_id,ii.car_id,ii.total_price,ii.total_score,
        ii.createtime,ui.username,uc.car_num,uc.car_province
        FROM illegal_info ii LEFT JOIN user_info ui  ON ii.user_id = ui.user_id
        LEFT JOIN user_car uc ON ii.car_id = uc.uc_id
        limit #{start},#{end}
    </select>


</mapper>