<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.shengmei.dao.MyCollectDao" >
    <resultMap id="BaseResultMap" type="com.tangmo.shengmei.entity.MyCollect" >
        <id column="mc_id" property="mcId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="cd_id" property="cdId" jdbcType="INTEGER"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="insertSelective" parameterType="com.tangmo.shengmei.entity.MyCollect">
            insert into my_collect
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">
                    user_id,
                </if>
                <if test="cdId != null">
                    cd_id,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">
                    #{userId,jdbcType=VARCHAR},
                </if>
                <if test="cdId != null">
                    #{cdId,jdbcType=INTEGER},
                </if>
            </trim>
    </insert>

    <delete id="deleteById">
        DELETE FROM my_collect WHERE mc_id = #{mcId}
    </delete>

    <select id="selectListByUserId" resultMap="BaseResultMap">
        SELECT mc.mc_id,mc.user_id,cd.title,cd.content,cd.price_pre,
        cd.price_now,cd.img_id,cd.cd_type
        FROM my_collect mc LEFT JOIN commodity cd
        ON mc.cd_id = cd.cd_id
        WHERE mc.user_id = #{userId} limit #{start},#{end}
    </select>
</mapper>