<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.shengmei.dao.PayDao" >


    <sql id="Base_Column_List" >

    </sql>
    <insert id="insertSelective" parameterType="com.tangmo.shengmei.entity.WeChatPayResultBean">
        INSERT INTO pay_info (out_trade_no,user_id,trade_type,pay_msg,result_code,total_fee)
        VALUES (#{out_trade_no},#{user_id},#{trade_type},#{pay_msg},#{result_code},#{total_fee})
    </insert>
</mapper>