<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangmo.shengmei.dao.ShopGoodsDao" >
    <resultMap id="BaseResultMap" type="com.tangmo.shengmei.entity.ShopGoods" >
        <id column="sg_id" property="sgId" jdbcType="INTEGER"/>
        <result column="us_id" property="usId" jdbcType="INTEGER"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shop_content" property="shopContent" jdbcType="VARCHAR"/>
        <result column="img_id" property="imgId" jdbcType="VARCHAR"/>
        <result column="service_type" property="serviceType" jdbcType="TINYINT"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="discountNote" property="discountNote" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="SimpleResultMap" type="com.tangmo.shengmei.entity.vo.SimpleShopGoodsVO" >
        <id column="sg_id" property="sgId" jdbcType="INTEGER"/>
        <result column="us_id" property="usId" jdbcType="INTEGER"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="shop_content" property="shopContent" jdbcType="VARCHAR"/>
        <result column="img_id" property="imgId" jdbcType="VARCHAR"/>
        <result column="service_type" property="serviceType" jdbcType="TINYINT"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List" >

    </sql>
    <insert id="insertSelective" parameterType="com.tangmo.shengmei.entity.ShopGoods">
            insert into shop_goods
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="imgId != null">
                    img_id,
                </if>
                <if test="userId != null">
                    user_id,
                </if>
                <if test="shopName != null">
                    shop_name,
                </if>
                <if test="shopContent != null">
                    shop_content,
                </if>
                <if test="serviceType != null">
                    service_type,
                </if>
                <if test="price != null">
                    price,
                </if>
                <if test="mobile != null">
                    mobile,
                </if>
                <if test="address != null">
                    address,
                </if>
                <if test="discountNote != null">
                    discount_note,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="imgId != null">
                    #{imgId,jdbcType=VARCHAR},
                </if>
                <if test="userId != null">
                    #{userId,jdbcType=INTEGER},
                </if>
                <if test="shopName != null">
                    #{shopName,jdbcType=VARCHAR},
                </if>
                <if test="shopContent != null">
                    #{shopContent,jdbcType=VARCHAR},
                </if>
                <if test="serviceType != null">
                    #{serviceType,jdbcType=TINYINT},
                </if>
                <if test="price != null">
                    #{price,jdbcType=DOUBLE},
                </if>
                <if test="mobile != null">
                    #{mobile,jdbcType=VARCHAR},
                </if>
                <if test="address != null">
                    #{address,jdbcType=VARCHAR},
                </if>
                <if test="discountNote != null">
                    #{discountNote,jdbcType=VARCHAR},
                </if>
            </trim>
    </insert>

    <update id="updateById" parameterType="com.tangmo.shengmei.entity.ShopGoods">
        UPDATE shop_goods
        <set>
            <if test="shopName != null">
                shop_name = #{shopName},
            </if>
            <if test="shopContent != null">
                shop_content = #{shopContent},
            </if>
            <if test="serviceType != null">
                service_type = #{serviceType},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="address != null">
                address = #{price},
            </if>
            <if test="discountNote != null">
                discount_note = #{discountNote},
            </if>
            updatetime = now()
        </set>
        WHERE sg_id = #{sgId,jdbcType=INTEGER}
    </update>

    <select id="selectListByUsId" resultMap="BaseResultMap">
        SELECT img_id,goods_name,goods_content,goods_type,goods_price
        FROM shop_goods WHERE us_id = #{usId}
    </select>

    <select id="selectByType" resultMap="SimpleResultMap">
        SELECT sg_id,img_id,shop_name,shop_content,price
        FROM shop_goods WHERE service_type = #{type} limit #{start},#{end}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM shop_goods WHERE sg_id = #{sgId}
    </select>

    <select id="selectQlList">
        SELECT img_id,goods_name,goods_content,goods_type,goods_price FROM shop_goods
        WHERE is_quality = 1 limit #{start},#{end}
    </select>

    <delete id="deleteById">
        DELETE FROM shop_goods WHERE sg_id = #{sgId}
    </delete>
</mapper>